body {
	background-color: #13120f;
}

.side-button {
	border-radius: 0px;
	position: absolute;
	top: 0;
	right: 0;
	width: 5px;
	height: 100vh;
	cursor: ew-resize;
	border: none;
	background-color: transparent;
}

.side-button:hover {
	border-right: 1.5px #9333eae6 solid;
	border-radius: 0px;
}

.side-button:active {
	border-right: 1.5px #9333eae6 solid;
}
.side-button:focus {
	outline: none;
}

.arrow-button {
	position: absolute;
	top: 10%;
	right: 0;
	padding: 8px;
	max-width: 12px;
	max-height: 12px;
	background-color: #9333eae6;
	border-radius: 50%;
	cursor: pointer;
	transform: translate(+50%);
	z-index: 1;
}
.arrow-button:hover {
	background-color: #bc80f8e6;
}
.resizing .side-bar,
.resizing .material-preview {
	transition: none;
}
.side-bar {
	height: 100vh;
	max-width: 90%;
	background-color: #353535;
	position: relative;
	transition: width 0.3s;
}
.material-preview {
	background-color: #13120f;
	color: white;
	transition: width 0.3s;
}

.canvas-container {
	background-color: #34343429;
	width: 100vh;
	height: 100vh;
}

.material-form {
	background-color: #34343489;
	display: flex;
	flex-direction: column;
	align-items: center;
	border-radius: 10px;
	padding: 30px;
	height: 100vh;
}

select {
	width: 250px;
	margin: 10px;
	padding: 10px;
	border-radius: 10px;
}

label {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: #e3c7ffe6;
}
