body {
}

.side-button {
	border-radius: 0px;
	position: absolute;
	top: 0;
	right: 0;
	width: 5px;
	height: 100vh;
	cursor: ew-resize;
	border: none;
	background-color: transparent;
	z-index: 2;
}

.side-button:hover {
	border-right: 1.5px #9333eae6 solid;
	border-radius: 0px;
}

.side-button:active {
	border-right: 1.5px #9333eae6 solid;
}
.side-button:focus {
	outline: none;
}

.arrow-button {
	position: absolute;
	top: 10%;
	right: 0;
	padding: 8px;
	max-width: 12px;
	max-height: 12px;
	background-color: #9333eae6;
	border-radius: 50%;
	cursor: pointer;
	transform: translate(+50%);
	z-index: 3;
}
.arrow-button:hover {
	background-color: #bc80f8e6;
}
.resizing .side-bar,
.resizing .material-preview {
	transition: none;
}
.side-bar {
	height: 100vh;
	position: absolute;
	background-color: #353535;
	transition: width 0.3s;
	z-index: 4;
}
.material-preview {
	display: flex;
	background-color: #34343489;
	color: white;
	transition: width 0.3s;
	min-width: 950px;
}

.canvas-container {
	background-color: #34343429;
	height: 100vh;
	width: 600px;
}

.material-form {
	background-color: #34343489;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-right: 50px;
	padding-left: 50px;
	height: 500px;
	border-radius: 30px;
	position: fixed;
	right: 20px;
	top: 20px;
	z-index: 2;
}

select {
	width: 250px;
	padding: 10px;
	border-radius: 10px;
}

label {
	margin-top: 20px;
}

label {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: #e3c7ffe6;
}
